.section-head{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}
.section-container{
       padding: 20px;

}
.section-img__1 ,.section-img__2,.section-img__3,.section-img__4{
    height: auto;
    width: 230px;
   display: inline-block;
   text-align: center;
   border: 1px black solid;
 
  
}
.section-oredr{
    background-color: black;
    color: beige;
}
.section-form{
    margin: 10px;
   width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    display: inline-block;
    
  
  
}
.section-send{
    background-color: yellow;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 10px;
    text-align: center;
}
.section-img{
    text-align: center;
    vertical-align: top;
}
.section-item{
   font-weight: 600;
}